body{
    height: 400%;
    width: 100%;
    background-color: lightgray;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 3vw;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
td{
    padding: 5px;
}
li{
    display: inline;
}
h1{
    font-size: 8vw;
}
h2{
    padding-top: 20px;
    font-size: 3vw;
    font-weight: 600;
}
h3{
    padding-top: 20px;
    font-size: 3vw;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.welcome{
    width: 100%;
    height: 28%;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center; 
}
.downarrow{
    width: 35px;
    height: 30px;
    background-image: url("img/down.png");
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 95%;
}
.nav
{
    width: 45.3%;
    margin: 0 auto;
    padding-top: 2%;
    position: absolute;
    right: 0;
    left: 0; 
    font-size: 3vw;
}
.navlist.li{
    width: 20%;
    background-color: red;
}
#firstnavelement{
    margin-left: 0px;
}
.nodecoration{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding-bottom: 3px;
}
.nodecoration:hover{
    transition: all 500ms ease;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}
.nodecoration:active{
    text-decoration: none;
}
.name{
    width: 100%;
    height: 40%;
    position: absolute;
    margin-top: 15%;
}
.skills{
    width: 100%;
    height: 25%;
    margin-top: 0;
    font-size: 2vw;
    position: relative;
    text-align: center;
    color: black;
    vertical-align: middle;
}
.projects{
    width: 100%;
    height: 26%;
    margin-top: 0;
    position: relative;
    background-color: #3a5a8e;
    font-size: 1.5vw;
}

.hrskills{
    width: 350px;
}
.project{
    width: 100%;
    height: 70%;
    margin: 0 auto;
    margin-top: 5%;
    padding-left: 34%;
    padding-right: 34%;
}
.project-wrapper{
    width: 52%;
    height: 72.8%;
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
}
#firstproject{
    width: 45%;
    height: 45%;
    background-image: url("img/blog.png");
    background-se: cover;
    background-repeat: no-repeat;
    position: absolute;
    float: left;
}
#secondproject{
    width: 45%;
    height: 45%;
    background-image: url("img/nyan.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    float: right;
    right: 0;
}
#thirdproject{
    width: 45%;
    height: 45%; 
    background-image: url("img/stopwatch.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    float: left;
    margin-top: 39%;
}
#fourthproject{
    width: 45%;
    height: 45%;
    background-image: url("img/github.png");
    background-size: 100%;
    background-color: lightgray;
    background-repeat: no-repeat;
    position: absolute;
    float: right;
    margin-top: 39%;
    right: 0;
}
.projecthead{
    width: 100%;
    height: 15%;
    background-color: white;
    opacity: 0.7;
    color: black;
    text-align: center;
}
#firstprojectinfo,#secondprojectinfo,#thirdprojectinfo,#fourthprojectinfo{
    background-color: lightgray;
    opacity: 0.80;
    width: 100%;
    height: 85%;
    margin-top: 50px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: black;
    padding-top: 15px;
    display: none;
}
.about{
    width: 100%;
    height: 23%;
    margin-top: 0;
    position: relative;
    color: black;
}
.footer{
    width: 100%;
    height: 2%;
    margin-top: 1%;
    float: left;
    position: relative;
    bottom: 0;
}
.aboutwrapper{
    width: 80%;
    height: 80%;
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    border: 1px solid transparent;
    font-size: 1.9vw;
}
.me{
    width: 30%;
    height: 73%;
    background: url("img/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    float: left;
    -webkit-box-shadow: 5px 5px 5px 2px #99A19D;
    box-shadow: 5px 5px 5px 2px #99A19D;
}
.abouttext{
    width: 68%;
    height: 65%;
    min-height: 65%;
    max-height: 66%;
    float: left;
    margin-left: 32%;
    padding: 2%;
    font-size: 1.8vw;
    position: relative;
    display: inline-block;
}
.coolstuff{
    width: 100%;
    height: 20%;
    position: inherit;
    margin-top: 34%
}
.links{
    text-decoration: none;
    color: black;
    margin-left: 2%;
    font-weight: bold;
}
.links:hover{
    transition: all 1000ms ease;
    text-decoration: none;
    color: #40403F;
}
.links:active{
    text-decoration: none;
    color: white; 
}
.quote{
    color: #3d3d5c;
}

/*for particlesjs*/
canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width: 100%;
  background-color: #3a5a8e;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 680px) {
    .nav{
        width: 63%;
        font-size: 4vw;
    }
    p{
        font-size: 4vw;
    }
    h1{
        font-size: 11vw;
    }
    h2{
        font-size: 6vw;
    }
    h3{
        font-size: 5.5vw;
    }
    .name{
        margin-top: 30%;
    }

    .me{
        width: 30%;
        height: 36%;     
    }
    #firstproject{
        width: 70%;
        height: 40%;
        background-image: url("img/blog.png");
        background-se: cover;
        background-repeat: no-repeat;
        position: absolute;
        float: left;
        margin-left: -25%;
    }
    #secondproject{
        width: 70%;
        height: 40%;
        background-image: url("img/nyan.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        float: right;
        right: -25%;
    }
    #thirdproject{
        width: 70%;
        height: 40%; 
        background-image: url("img/stopwatch.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        float: left;
        margin-left: -25%;
        margin-top: 70%;
    }
    #fourthproject{
        width: 70%;
        height: 40%;
        background-image: url("img/github.png");
        background-size: 100%;
        background-color: lightgray;
        background-repeat: no-repeat;
        position: absolute;
        float: right;
        margin-top: 70%;
        right: -25%;
    }
    .desc{
        font-size: 3vw;
    }

}
@media screen and (max-width: 480px) {
    .nav{
        width: 65.7%;
        font-size: 4vw;
    }
    p{
        font-size: 6vw;
    }
    h1{
        font-size: 12vw;
    }
    h2{
        font-size: 8vw;
    }
    h3{
        font-size: 6.5vw;
    }
    .name{
        margin-top: 40%;
    }
    .me{
        width: 30%;
        height: 25%;     
    }
    #firstproject{
        width: 70%;
        height: 30%;
        background-image: url("img/blog.png");
        background-se: cover;
        background-repeat: no-repeat;
        position: absolute; 
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #secondproject{
        width: 70%;
        height: 30%;
        background-image: url("img/nyan.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        float: left;
        left: 0;
        right: 0; 
        margin: 0 auto; 
        top: 35%;
    }
    #thirdproject{
        display: none;
    }
    #fourthproject{
        width: 70%;
        height: 30%;
        background-image: url("img/github.png");
        background-size: 100%;
        background-color: lightgray;
        background-repeat: no-repeat;
        position: absolute;
        float: left;
        margin-top: 70%;
        left: 0;
        right: 0; 
        margin: 0 auto;    
        top: 70%;
    }
    .desc{
        font-size: 3vw;
    }
    .projecthead:p{
        font-size: 2vw;
    }

}

@media screen and (max-width: 350px){
    .nav
    {
        width: 54%;    
        font-size: 3vw;
    }
    p{
        font-size: 8vw;
    }
    h1{
        font-size: 10vw;
    }
    h2{
        font-size: 10vw;
    }
    h3{
        font-size: 5.5vw;
    }
    .name{
        margin-top: 60%;
    }

}
