body {
    font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 16px;
    letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Buttons override */
.btn {
    text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
    padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
    background-color: #dd5138;
    color: #fff;
}
.btn-yellow {
    background-color: #fcd93b;
    color: #2a2a2a;
    opacity: 0.8;
}
.btn-yellow:hover {
    opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}
.content-ct {
    text-align: center;
}

/* ------------------
Navigation 
------------------ */
.side-menu {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}
.side-menu ul li a span {
    display: inline-block;
}
.side-menu ul li a span.menu-title {
    color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #dd5138;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #dd5138;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
    transform: scale(1.8);
}


.hero-header {
    background-image: url('../img/bgs/background.jpg');
    background-size: cover;
    min-height: 600px;
    padding: 5em;
    color: #fff;
}
.hero-header h1 {
    margin: 1em 0 0 0;
}
.hero-header h4 {
    font-weight: normal;
    opacity: 0.6;
    letter-spacing: 1px;
    margin: 2em 0;
}
.hero-header .logo {
    max-width: 250px;
}
.hero-header .btn {
    margin-top: 3em;
}
.hero-header .rocket {
    max-width: 100%;
}
.me-row {
    padding: 30px 0;
}
.row-title {
    font-weight: 400;
}
.feature {
    padding: 20px;
    margin-top: 30px;
}
.feature span {
    font-size: 5em;
    color: #016cc7;
}

.speaker .feature {
    width: 31.333333%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 20px;
    border: 3px solid #f6f6f6;
    border-radius: 5px;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speaker-img {
    max-width: 40%;
    border: 4px solid #efefef;
    border-radius: 50%;
}
ul.speaker-social li {
    list-style: none;
    display: inline-block;
    margin: 10px 5px;
}
ul.speaker-social li a {
    font-size: 0.2em;
    padding: 0 10px;
}
ul.speaker-social li a:hover {
    text-decoration: none;
}
a span.ti-facebook {
    color: #3b5998;
}
a span.ti-twitter-alt {
    color: #4099ff;
}

.tickets {
    background-color: #fcd93b;
}
.tickets .price {
    font-size: 4em;
    color: #dd5138;
    font-weight: 100;
}
.tickets .price sup {
    font-size: 0.4em;
}


.nav-tabs {
    margin-top: 20px;
}
.schedule .media {
    margin-top: 4em;
}
.schedule .media-object {
    max-width: 100px;
}
.schedule .media-heading {
    font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}
.schedule .media-body h5 {
    text-transform: uppercase;
    font-weight: 600;
}


.footer {
    background-color: #2a2a2a;
    margin-top: 30px;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}


.contact {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
}
.contact h3 {
    margin-bottom: 30px;
}
.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* Hide mentors */
.more-mentors{
    padding-top: 1%;
    display: inline-block;
}
.hidden-mentors{
    display: none;
}

/* testimonial */
.testimonial-text{
    opacity: 0.8;
    text-align: justify;
}

/* ========================================
Custom Media Queries
======================================== */

/* Mobile */

    @media (max-width: 767px) {
        .hero-header {
            padding: 3em 1em 1em 1em;
            text-align: center;
            max-height: 550px;
        }
        .speaker .feature {
            width: 100%
        }
        .footer-credit {
            text-align: center;
            padding: 40px 20px;
        }
        ul.footer-menu {
            text-align: center;
            margin-top: 30px;
        }
    }


    /* iPad Portrait */

    @media (min-width: 768px) and (max-width: 991px) {
        .hero-header {
            padding: 3em 1em 1em 1em;
            text-align: center;
        }
        .speaker .feature {
            width: 49%;
            margin-right: 7px;
        }
        ul.footer-menu {
            margin-top: 0;
        }
    }


    /* iPad Landscape */

    @media (min-width: 992px) and (max-width: 1199px) {
        .speaker .feature {
            width: 49%;
            margin-right: 9px;
        }
    }
    textarea{
        resize: none;
    }
