body{
    background-color: lightgray;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
}
h3{
    color: #34495e;
    font-size: 1.2vw;
    letter-spacing: 1.2px;
    margin-left: 1.5%;
}
h2{
    color: white;
    margin-left: 65%;
    margin-top: -2%;
    font-size: 1.5vw;
    letter-spacing: 1.2px;
}
p{
    font-size: 1vw;
    margin-left: 1.5%;
    word-wrap: break-word;
    letter-spacing: 0.2px;
}
h1{
    font-size: 1.2vw;
    margin-left: 1.5%;
}
hr{
    background-color: black;
    height: 1px;
    width: 300px;
    border: 0;
    margin-left: 0;
}
.header{
    width: 70%;
    height: 25%;
    max-height: 200px;
    position: absolute;
    background-color: black;
    background-image: url("img/header.png");
    background-size: cover;
    color: white;
    border-radius: 2px;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 auto;
}
.main{
    width: 70%;
    height: 105%;
    /*background-color: red;*/
    display: block;
    position: absolute;
    top: 52%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.welcome{
    margin-left: 45%;
    margin-top: 5%;
    font-size: 3vw;
}
/*blog post*/
.edithead{
    width: 100%;
    height: 50px;
    background-color: #34495e;
    position: absolute;
    top: 0;
    left: 0;
}
.editheader{
    color: white;
    font-size: 2vw;
}
.add{
    margin-top: 15%;
    margin-left: 5%;
    position: absolute;
}
.timestamp{
    margin-top: -10px;
    font-size: 10px;
    font-family: helvetica;
    color: #3c3c3c;
}
.code{
    width:50%;
    background-color:#bdc3c7;
    border: 1px solid grey;
    padding: 10px;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin:-100px 0 0 -150px; 
}
iframe{
    width: 70%;
    height: 300px;
    margin-left: 1.5%;
    border: none;
}
